p{
    font-weight: 900;
}
h1{
    font-weight: bolder;
    text-align: center;
}
.heading{
    margin-top: 10px;
    margin-bottom: 5px;
}
.bgimg{
    
    background-image:url('https://img.freepik.com/free-vector/blank-blue-frame-design_53876-100789.jpg') ;
    height: 400px;
    width: 800px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.infodiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}
.box{
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
    background-color: black;
}